@import url("http://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Serif");

@import url("https://fonts.googleapis.com/css?family=PT+Sans:700");


body {
	font-family: 'PT Sans', sans-serif;
	font-weight: lighter;
}
