.red-photo, .small-video-icon, .small-photo, .small-video-gray, .small-p {
  display: inline-block;
  background: url("../../../img/sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.red-photo {
  background-position: -0px -0px;
  width: 24px;
  height: 19px; }

.small-video-icon {
  background-position: -0px -19px;
  width: 24px;
  height: 20px; }

.small-photo {
  background-position: -0px -39px;
  width: 19px;
  height: 15px; }

.small-video-gray {
  background-position: -0px -54px;
  width: 18px;
  height: 14px; }

.small-p {
  background-position: -0px -68px;
  width: 15px;
  height: 14px; }

body {
  background: red; }
